h1 {
  font-family: monospace;
    color: red;
    font-weight:100;
    line-height: 200%;
}

h2 {
  font-family: fantasy;
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

img {
  width: 200px;
}
